body{
    position: relative;
}
.model-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw !important;
    height: 100vh !important;
    z-index: 999999999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-modal-content{
    position: relative;
    max-width: 30rem;
    width: 95%;
    z-index: 9999999999;
}